{
  "branches": [
    {
      "name": "dev",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "Assets/EOSTransport/CHANGELOG.md"
    }],
    ["semantic-release-replace-plugin", {
        "replacements": [
          {
            "files": ["Assets/EOSTransport/package.json"],
            "from": "\"version\": \".*?\"",
            "to": "\"version\": \"${nextRelease.version}\"",
            "countMatches": true
          }
        ]
    }],
    ["@iam1337/create-unitypackage", {
      "packageRoot": "Assets/EOSTransport",
      "projectRoot": "./",
      "output": "PurrNetEOSTransport_${nextRelease.version}.unitypackage"
    }],
    ["@semantic-release/git", {
        "assets": ["Assets/EOSTransport/package.json", "Assets/EOSTransport/CHANGELOG.md"],
        "message": "ci(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "PurrNetEOSTransport_${nextRelease.version}.unitypackage", "label": "PurrNetEOSTransport_${nextRelease.version}.unitypackage"}
      ]
    }]
  ]
}
